@import 'commons.scss';
@import 'card.scss';
@import 'filters.scss';

header {
  @include flex-layout(normal, center, column);
  background-image: url("../assets/Hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 667px;
  width: 100%;
  padding: 3.5% 4.5%;
  box-sizing: border-box;

  .header-top {
    width: 100%;
    text-align: left;
  }

  .logo {
    width: 207px;
  }

  .tagline {
    text-align: center;
    width: 62%;
    margin-top: 5%;
    text-transform: uppercase;
    color: $main-color;
    font-size: 2.75rem;
  }

  .searchbar {
    @include flex-layout(space-between, center, row);
    width: 66%;
    background-color: white;
    border-radius: 11px;
    margin-top: 2%;

    &__input {
      border: none;
      font-family: $main-font;
      font-weight: 400;
      font-size: 1rem;
      color: $grey;
      margin: 2.5% 3.5%;
      width: 100%;
      outline: none;
      caret-color: $light-grey;
    }

    &__loop-container {
      margin: 1% 1%;
    }

    &__loop-container:active img {
      content: url(../assets/loop/loop.active.png)
    }
  }
}

.main-top {
  @include flex-layout(space-between, baseline, row);
}

.recipes-number {
  font-family: $title-font;
  font-size: 1.313rem
}

/*********************** Labels ********************/

.main-labels {

  .labels {
    @include flex-layout(left, center, row);
    gap: 2vw;

    &__label {
      margin-top: 3.8vw;
      font-size: 0.875rem;
      background-color: $main-color;
      border-radius: 10px;
      padding: 1em;
      text-transform: capitalize;

      span {
        font-size: 0.875rem;
        margin-left: 4vw;
        cursor: pointer;
      }
    }
  }
}



/************************* NoResult ******************/

.no-result {
  display: none;
  margin-top: 10vw;
  text-align: center;
  font-size: 1.2rem;
  background-color: $main-color;
  padding: 2em;
  border-radius: 15px;
}